---
---

<section class='chbi-about-section'>
  <div class='chbi-about-section-container'>
    <p>Welcome my name is</p>
    <div class='chbi-name-container'>
      <p class='chbi-name'>Kathleen Bongco </p>
    </div>
    <div class='chbi-about-info-container'>
      <p class='chbi-about-info'>
        I am a former food scientist turned front end web developer, passionate about solving problems and creating user friendly experiences with code.
      </p>
    </div>
  </div>
</section>

<style>
  .chbi-about-section {
    min-height: 50vh;
    padding-top: 16px;
    color:#130067;
  }

  .chbi-name {
    font-size: 1.5rem;
  }
</style>