---
---

<nav class='chbi-navigation'>
  <div class='chbi-navigation-link-container'>
    <div class='chbi-navigation-links'>
      <ul class='chbi-navigation-list'>
       <a href=''><li class='chbi-navigation-list-link'>Home</li></a>
        <li class='chbi-navigation-list-link'>Skills</li>
        <li class='chbi-navigation-list-link'>Projects</li>
        <li class='chbi-navigation-list-link'>Contact</li>
      </ul>
    </div>

  </div>
</nav>

<style>
.chbi-navigation {
  height: 5rem;
  background-color: #1C304A;
  color: white;
}
.chbi-navigation-list {
  display: flex;
  padding-top: 24px;
  justify-content: start;
}

.chbi-navigation-list-link {
  padding: 8px;
  text-transform: uppercase;
}
</style>